body {
    background-image: url("website_background.jpeg");
    font-family: arial;

    /*
     * The code below is taken from the following website:
     *
     * https://css-tricks.com/perfect-full-page-background-image/
     */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
    margin-left: 5px;
    margin-bottom: 10px;
}

#content {
    background-color: rgba(255, 255, 255, 0.8);
    width: 45%;
    margin: 0 auto;
}

#content h1 {
    text-align: center;
}

#email_label {
    visibility: hidden;
}
